+++
title = "swift project"
linkTitle = "swift project"

+++

{{< blocks/cover title="swift project: the multiple simulator and OS pilot client!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://github.com/swift-project/pilotclient/releases/latest">
		Download Latest Beta <i class="fab fa-download ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/swift-project/pilotclient/releases">
		Other Downloads <i class="fab fa-download ml-2 "></i>
	</a>
	<br>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-book ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/tutorials" >}}">
		Tutorials <i class="fab fa-youtube ml-2"></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
swift is an open-source pilot client which can allows users to connect their flight simulator to FSD-networks like VATSIM.

swift is an independent (private/non-commercial) software project creating open source software for flight simulaton.
{{% /blocks/lead %}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fa-plane-departure" title="Multiple simulator support!" %}}
swift supports major flight simulators like X-Plane 11, Prepar3D v1-v5, FSX, FS9 and Flightgear.

Support for other simulators can easily be added.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-desktop" title="Multiple OS support!"  %}}
swift is available for all major operating systems.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source!" url="/docs/gi" %}}
swift is the only pilotclient which is fully open-source under GPLv3. New contributors are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}

