---
title: "Contact & Help"
linkTitle: "Contact & Help"
type: about
menu:
  main:
    weight: 40

---



{{< blocks/cover title="Contact the swift team"  >}}
{{< /blocks/cover >}}
{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-discord" title="Discord" url="https://discord.gg/R7Atd9A" %}}
Support offered from other members and developers.

You can also search through old message. Most likely someone had the same problem before.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-envelope" title="E-Mail"  %}}
TBD
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-teamspeak" title="Teamspeak"  %}}
There is a TS3 server available for team meetings, etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
