---
title: About swift
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About swift" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">An open source pilot client.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
History
{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
In May 2014 at the Global Conference Vienna three enthusiastic VATSIM members presented an idea to develop a platform independent pilot client. 

Platform-independent" includes the operational readiness for the operating systems Windows, Linux and MacOS as well as the use for FS9, FSX, P3D and X-Plane. Meanwhile FlightGear is also included in the simulator list.  

Also on the agenda was a third party interface (via DBus) and the possibility to install plugins. 

The vision was the necessity to unite the large number of clients, which had been created by the different operating systems and simulators, on one client.

Design goals were and are, among others, improved model comparison by using a central database, a strong algorithm for interpolation of how aircraft move between two position updates, support of protocol features like "Fast Position Updates" and Near Real Time Position Updates (P2P).

The whole project was planned as "Open Source". Why Open Source? Can anyone still remember the many crash reports in forums that were never solved because the source code was not available?  Many projects were never finished or continued because the project members could not or would not do the work for various and understandable reasons. The new project should not have this birth defect.

In order to meet the requirements already mentioned, the open source framework Qt5 with C++ was used as a development tool. This was not the only possibility but a reasonable choice.

The project does not want to compete with other clients, but as an alternative. 

Who can help? If you feel like taking over a certain task in the project, please contact us. We are looking for serious, reliable people with initiative. These don't always have to be programmers, because the tasks are many-sided.

{{% /blocks/lead %}}