name: Test-Build

on:
  push:
    branches:
      - '**' # build for all branches except master
      - '!homepage'
  pull_request:

env:
  baseURL: https://swift-project.github.io

jobs:
  test-build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '15'
      - run: npm install
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
         hugo-version: 'latest'
         extended: true
      - name: Checkout master worktree
        run: |
          rm -rf public 
          git worktree add -B master public origin/master
          rm -rf public/*
      - name: Build
        run: hugo --minify --baseURL ${{ env.baseURL }}
